.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title{
    font-size: 1.5rem;
    color: #464646;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    label{
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        margin-right: 8px;
    }

    input{
        height: 1.25rem;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 2px;
        //-webkit-background-clip: padding-box; /* for Safari */
        //background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    }

    button{
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        height: 69px;
        width: 120px;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;
        transition: all 0.5s;
        margin-top: 20px;
        //-webkit-background-clip: padding-box; /* for Safari */
        //background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

        &:hover{
            background-color: rgb(46, 132, 245);
            color: #fff;
        }
    }
}

.imgInfo, .endpointInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    width: 100%;

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
}

.date, .imageNo{
    input{
        width: 50px;
    }
}

.productNo, .item{
    input{
        width: 100px;
    }
} 

.productName input{
    width: 200px;
}

.imageNo div{
    display: block;
}

.result{
    width: 100%;
    padding: 0 20px;
}

.textArea{
    width: 100%;
    resize: none;
    outline: none;
    height: 160px;
    border-radius: 8px;
    padding: 8px;
    white-space: pre-wrap;
}

.endpoint input{
    width: 675px;
}

