.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;

    button{
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;
        transition: all 0.5s;
        margin: 10px 0;
        //-webkit-background-clip: padding-box; /* for Safari */
        //background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    }
}

.result{
    width: 100%;
    padding: 0 20px;
}

.textArea{
    width: 100%;
    resize: none;
    outline: none;
    height: 300px;
    border-radius: 8px;
    padding: 8px;
    white-space: pre-wrap;
}

.workItem{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button{
        margin-top: 27px;
    }
}

.generateButton{
    height: 2rem;
    width: 100%;

    &:hover{
        background-color: rgb(46, 132, 245);
        color: #fff;
    }
}

.deleteButton{
    height: 69px;
    width: 120px;

    &:hover{
        background-color: rgb(211, 39, 39);
        color: #fff;
    }
}

.header{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    h1{
        font-size: 1.5rem;
        color: #464646;
        display: inline-block;
        margin-right: 10px;
    }
    
    button{
        cursor: pointer;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 2px;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        //-webkit-background-clip: padding-box; /* for Safari */
        //background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

        &:hover{
            background-color: rgb(9, 124, 47);
            color: #fff;
        }
    }

}
