.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title{
    font-size: 1.5rem;
    color: #464646;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;

    button{
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        height: 69px;
        width: 120px;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;
        transition: all 0.5s;
        margin: 10px 0;
        //-webkit-background-clip: padding-box; /* for Safari */
        //background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

        &:hover{
            background-color: rgb(46, 132, 245);
            color: #fff;
        }
    }
}

.result{
    width: 100%;
    padding: 0 20px;
}

.textArea{
    width: 100%;
    resize: none;
    outline: none;
    height: 160px;
    border-radius: 8px;
    padding: 8px;
    white-space: pre-wrap;
}

